body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    background-color: #1a1a1a;
    color: #e6e6e6;
}

header {
    background-color: #000;
    color: #e60000;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #e6e6e6;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #e60000;
}

section {
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #e60000;
    margin-bottom: 20px;
}

.profile-pic {
    width: 150px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px auto;
    border: 5px solid #e60000;
}

.project {
    background-color: #444;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: #000;
    color: #e6e6e6;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: #e60000;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #ff3333;
}
